<app-top-header></app-top-header>
<app-header></app-header>
<app-navbar></app-navbar>

<div id="content" class="row">
  <div class="container">
    <div class="wrap-content">
      <!-- SECTION -->
      <div class="section">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
              <!-- aside Widget -->
              <div class="aside">
                <h3 class="aside-title">Categories</h3>
                <div class="checkbox-filter">
                  <div
                    class="input-checkbox"
                    *ngFor="let category of categories"
                  >
                    <input type="checkbox" [id]="'category-' + category.id" />
                    <label [for]="'category-' + category.id">
                      <span></span>
                      {{ category.name }}
                      <small>({{ category.count }})</small>
                    </label>
                  </div>
                </div>
              </div>
              <!-- /aside Widget -->

              <!-- aside Widget -->
              <div class="aside">
                <h3 class="aside-title">Price</h3>
                <div class="price-filter">
                  <div id="price-slider"></div>
                  <div class="input-number price-min">
                    <input
                      id="price-min"
                      type="number"
                      [(ngModel)]="priceMin"
                    />
                    <span class="qty-up">+</span>
                    <span class="qty-down">-</span>
                  </div>
                  <span>-</span>
                  <div class="input-number price-max">
                    <input
                      id="price-max"
                      type="number"
                      [(ngModel)]="priceMax"
                    />
                    <span class="qty-up">+</span>
                    <span class="qty-down">-</span>
                  </div>
                </div>
              </div>
              <!-- /aside Widget -->

              <!-- aside Widget -->
              <div class="aside">
                <h3 class="aside-title">Brand</h3>
                <div class="checkbox-filter">
                  <div class="input-checkbox" *ngFor="let brand of brands">
                    <input type="checkbox" [id]="'brand-' + brand.id" />
                    <label [for]="'brand-' + brand.id">
                      <span></span>
                      {{ brand.name }}
                      <small>({{ brand.count }})</small>
                    </label>
                  </div>
                </div>
              </div>
              <!-- /aside Widget -->

              <!-- aside Widget -->
              <div class="aside">
                <h3 class="aside-title">Top Selling</h3>
                <div
                  class="product-widget"
                  *ngFor="let product of topSellingProducts"
                >
                  <div class="product-img">
                    <img [src]="product.image" alt="" />
                  </div>
                  <div class="product-body">
                    <p class="product-category">{{ product.category }}</p>
                    <h3 class="product-name">
                      <a href="#">{{ product.name }}</a>
                    </h3>
                    <h4 class="product-price">
                      {{ product.price }}
                      <del *ngIf="product.oldPrice" class="product-old-price">{{
                        product.oldPrice
                      }}</del>
                    </h4>
                  </div>
                </div>
              </div>
              <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->

            <!-- STORE -->
            <div id="store" class="col-md-9">
              <!-- store top filter -->
              <div class="store-filter clearfix">
                <div class="store-sort">
                  <label>
                    Sort By:
                    <select class="input-select">
                      <option value="0">Popular</option>
                      <option value="1">Position</option>
                    </select>
                  </label>

                  <label>
                    Show:
                    <select class="input-select">
                      <option value="0">20</option>
                      <option value="1">50</option>
                    </select>
                  </label>
                </div>
                <ul class="store-grid">
                  <li class="active"><i class="fa fa-th"></i></li>
                  <li>
                    <a href="#"><i class="fa fa-th-list"></i></a>
                  </li>
                </ul>
              </div>
              <!-- /store top filter -->

              <!-- store products -->
              <div class="row">
                <!-- product -->
                <div class="col-md-4 col-xs-6" *ngFor="let product of products">
                  <div class="product">
                    <div class="product-img">
                      <img [src]="product.image" alt="" />
                      <div class="product-label">
                        <span *ngIf="product.sale" class="sale">{{
                          product.sale
                        }}</span>
                        <span *ngIf="product.isNew" class="new">NEW</span>
                      </div>
                    </div>
                    <div class="product-body">
                      <p class="product-category">{{ product.category }}</p>
                      <h3 class="product-name">
                        <a href="#">{{ product.name }}</a>
                      </h3>
                      <h4 class="product-price">
                        {{ product.price }}
                        <del
                          *ngIf="product.oldPrice"
                          class="product-old-price"
                          >{{ product.oldPrice }}</del
                        >
                      </h4>
                      <div class="product-rating">
                        <i
                          *ngFor="let star of product.rating"
                          [ngClass]="{
                            'fa fa-star': star,
                            'fa fa-star-o': !star
                          }"
                        ></i>
                      </div>
                      <div class="product-btns">
                        <button class="add-to-wishlist">
                          <i class="fa fa-heart-o"></i>
                          <span class="tooltipp">add to wishlist</span>
                        </button>
                        <button class="add-to-compare">
                          <i class="fa fa-exchange"></i>
                          <span class="tooltipp">add to compare</span>
                        </button>
                        <button class="quick-view">
                          <i class="fa fa-eye"></i>
                          <span class="tooltipp">quick view</span>
                        </button>
                      </div>
                    </div>
                    <div class="add-to-cart">
                      <button class="add-to-cart-btn">
                        <i class="fa fa-shopping-cart"></i> add to cart
                      </button>
                    </div>
                  </div>
                </div>
                <!-- /product -->
              </div>
              <!-- /store products -->

              <!-- store bottom filter -->
              <div class="store-filter clearfix">
                <span class="store-qty">Showing 20-100 products</span>
                <ul class="store-pagination">
                  <li class="active">1</li>
                  <li><a href="categories">2</a></li>
                  <li><a href="categories">3</a></li>
                  <li><a href="categories">4</a></li>
                  <li>
                    <a href="categories"><i class="fa fa-angle-right"></i></a>
                  </li>
                </ul>
              </div>
              <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>
      <!-- /SECTION -->
    </div>
  </div>
</div>

<app-news-paper></app-news-paper>
<app-footer></app-footer>
