<div id="topHeader" class="row">
    <div class="wrap-content">
        <ul class="topHeaderLeft pullLeft">
            <li><a routerLink="#"><i class="fa fa-phone"></i>  {{phoneNumber}} </a></li>
            <li><a routerLink="#"><i class="fa fa-envelope"></i>  {{emailAddrese}} </a></li>
            <li><a routerLink="#"><i class="fa fa-map-marker"></i>  {{location}} </a></li>
        </ul>
        <ul class="topHeaderRight pullRight">
            <li><a routerLink="#"><i class="fa fa-dollar"></i>  {{coin}}</a></li>
            <li><a routerLink="/login"><i class="fa fa-user"></i>  {{account}}</a></li>
        </ul>
    </div>
</div>