<div id="header" class="row">
    <div class="container">
        <div class="wrap-content d-flex align-items-center"> <!-- Flex container -->
            <div class="headerLogo col-md-3">
                <a href="#"><img src="assets/img/logo.png" alt="Logo"></a>
            </div>
            <div class="headerSearchBar col-md-4"> <!-- Adjusted column size -->
                <form>
                    <select name="category" class="input-select">
                        <option *ngFor="let Category of allCategory" [value]="Category">{{ Category }}</option>            
                    </select>
                    <input type="text" placeholder="Search Here">
                    <input class="search-btn" type="submit" value="Search">
                </form>
            </div>
            <div class="col-md-2 d-flex justify-content-end"> <!-- Flex container for favorites and cart -->
                <div class="headerFav me-3"> <!-- Margin end for spacing -->
                    <a href="#">
                        <i class="fa-regular fa-heart"></i>
                        <span>Your Wishlist</span>
                        <div class="qty">2</div>
                    </a>
                </div>
                <div class="headerCart">
                    <a routerLink="/checkout">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Your Cart</span>
                        <div class="qty">0</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
